@import '../../../colors';


$span-inset: 2em;


.miniature-wrapper {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;

    .img-wrapper {
        height: 80%;
        width: auto;
        border-radius: 1em;
        z-index: 62;
        margin-bottom: -$span-inset;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            border-radius: 1em;
            z-index: 61;

        }
    }

    span {
        padding-top: $span-inset;
        padding-bottom: 0.5em;
        width: 100%;
        align-content: end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        font-size: 1em;
        border: solid 0.1em $color-secondary;
        border-top: none;
        border-radius: 0em 0em 0.5em 0.5em;
        background: linear-gradient(to right, rgba($color-secondary, 0.5) 0%, rgba(255, 0, 0, 0) 48%, rgba($color-secondary, 0.5) 100%) $color-secondary-light;

        border-width: 0 0.1em 0.1em 0.1em;
        z-index: 60;
        font-weight: 700;
        color : $color-text-dark;

        &.secondary {
            border: solid 0.1em $color-object;
            background: linear-gradient(to right, rgba($color-object-dark, 0.4) 0%, rgba(255, 0, 0, 0) 30%, rgba(255, 0, 0, 0) 70%, rgba($color-object-dark, 0.4) 100%) $color-object;
            color : $color-text-light;
        }
    }
}


.character-wrapper {
    $span-inset: 1em;

    span {
        display: flex;
        font-weight: bolder;
        padding-top: $span-inset;
        overflow: hidden;
        max-width: 100%;
        height: 50%;
        text-wrap: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 0.2em;
    }
    
    .img-wrapper {
        margin-bottom: -$span-inset;

        img {

        }
    }

    height: 100%;
}