@import '../../../colors';


$span-inset: 2em;

.miniature-wrapper {
    height: auto;
    width: 5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;

    .img-wrapper {
        height: 80%;
        width: auto;
        border-radius: 1em;
        z-index: 62;
        margin-bottom: -$span-inset;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            border-radius: 1em;
            z-index: 61;

        }


        .__shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 3px 3px 10px 0 #000000;
            border-radius: 20px;
            top: 0;
            left: 0;
        }
    }

    span {
        padding-top: $span-inset;
        padding-bottom: 0.5em;
        width: 100%;
        align-content: end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        font-size: 1em;
        border: solid 0.1em $color-primary;
        border-top: none;
        border-radius: 0em 0em 0.5em 0.5em;
        background: linear-gradient(to right, rgba($color-primary, 0.5) 0%, rgba(255, 0, 0, 0) 48%, rgba($color-primary, 0.5) 100%) $color-magic;

        border-width: 0 0.1em 0.1em 0.1em;
        z-index: 60;
        font-weight: 700;

        &.secondary {
            border: solid 0.1em $color-object;
            background: linear-gradient(to right, rgba($color-object-dark, 0.4) 0%, rgba(255, 0, 0, 0) 30%, rgba(255, 0, 0, 0) 70%, rgba($color-object-dark, 0.4) 100%) $color-object;
        }
    }
}