// declare color based on SUCCESS,ERROR,WARNING,INFO

$color-success: #28a745;
$color-success-dark: #1e7e34;
$color-error: #dc3545;
$color-error-dark: #701a23;
$color-warning: #ffc107;
$color-warning-dark: #8d6a01;
$color-info: #17a2b8;
$color-info-dark: #0a4e58;

.background-success {
    background-color: $color-success;
    border-color: $color-success-dark;
}

.background-error {
    background-color: $color-error;
    border-color: $color-error-dark;
}

.background-warning {
    background-color: $color-warning;
    border-color: $color-warning-dark;
}

.background-info {
    background-color: $color-info;
    border-color: $color-info-dark;
}

.dialog-box-wrapper {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-box-backdrop {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px), brightness(0.5);
}

.dialog-box-content {
    z-index: 1002;
    position: relative;
    width: 70%;
    height: 70%;
    margin: 20%;
    border-radius: 10px;
    border-width: 4px ;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.qrreader-wrapper {
    position: fixed;
    width: 100vmax;
    height: 100vmax;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.qrreader-body {
    width: 70%;
    height: 70%;
}

.qrreader-camera {}

.qr-viewfinder {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: rgba(0, 0, 0, 0.5);
}