@import './colors';

//reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vmax;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(to right, rgba($color-background, 0.4) 0%, rgba($color-background-light, 0.5) 50%, rgba($color-background, 0.4) 100%) $color-primary-dark;
    box-shadow: 0px 0px 5em 1px rgba($color-background-dark, 0.25) inset, 0px 0px 1px 2px rgba($color-primary-dark, 0.25) inset, 0px -5px 50px -15px rgba($color-background-dark, 1) inset, 0px 0px 5em rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.5);
}

@media print {
    html {
        height: inherit;
        width: inherit;
    }
}

body,
div#root {
    width: 100%;
    height: 100%;
}

.full-page-debug {
    background: white;
    height: 100%;
    width: 100%;
    overflow: auto;
}